footer.site-footer {
  @extend %clearfix;

  background: $ghost-gray;
  border-top-width: $base-spacing-unit/4;
  border-top-color: $manatee;
  border-top-style: solid;

  padding-bottom: 2em;
  padding-top: 2em;

  padding-left: 0;
  padding-right: 0;
  margin-top: $base-spacing-unit*2;

  ul.inline-list {
    margin:0;
    padding:0;
  }
  li{
    margin:0;
    padding:0 0 0 10px;
    &:first-child{
      padding:0;
    }
  }
  a:hover, a:active{
    color:$mine-shaft;
  }
  /*@media #{$large-up} {
    height:@include font-size(40);//explict height for sticky footer
    padding-top:@include font-size(10);

    .feedback{
      text-align:center;
    }
    ul.inline-list{
      float:right;
    }
  }
  @media #{$small-only} {
    text-align:center;
    .inline-list>li{
      float:none;
    }
  }*/
  p{
    margin:0;
  }
}
