---
title: Sidebar jobs
id: sidebar-jobs
---
<div class="sidebar" role="complementary">
	<div class="block--guide">
    	<h3 class="block__title">Roles</h3>
    	<ul>
            <li><a href="/the-roles/it-operations-manager" title="IT Operations Manager">IT Operations Manager</a></li>
            <li><a href="/the-roles/" title="Service Delivery Manager">Service Delivery Manager</a></li>
            <li><a href="/the-roles/" title="Digital Services Architect">Digital Services Architect</a></li>
        </ul>
	</div>
	<div class="block">
    	<h3 class="block__title">Corporate information</h3>
    	<ul>
    		<li><a href="#" title="link">Our origins</a></li>
    		<li><a href="#" title="link">Our portfolio</a></li>
    		<li><a href="#" title="link">Management Team</a></li>
    		<li><a href="#" title="link">LGSS Business Plan</a></li>
    	</ul>
	</div>
	<div class="block">
    	<h3 class="block__title">Find us on Twitter</h3>
    	<a class="twitter-timeline" href="https://twitter.com/LGSSnews" data-widget-id="603188343522926592" data-chrome="nofooter noheader noborders transparent">Tweets by @LGSSnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
