<header>
  {{ site.patterns | where:"title" : "Standard Header" }}
  <div class="sharepoint-header">
    <div class="sharepoint-navigation container">
      <nav role="navigation">
          <div class="menu-btn js-menu-btn">
            <a href="#menu" class="button--secondary icon-caret-down"><span>Menu</span></a>
          </div>
          <ul class="js-menu">
            <li>
              <a href="/" title="Home">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/about-lgss" title="About LGSS">About</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/the-roles" title="The roles">The roles</a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
</header>